.list-page {
    padding: 42px calc(50% - 300px);
}

.list-page__title {
    font-size: 34px;
    margin-bottom: 26px;
}

.list-page ul li {
    font-size: 18px;
}
.list-page__img-for-newList {
    width: 150px;
    height: 175px;
    margin-right: 25px;
}
.list-page__newList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
}

.list-page__img-for-newList_title {
    width:150px;
    margin-right: 15px;
}